:root {
  --primary: #5da2d5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.btn {
  position: relative;
  display: flex;
  margin: auto;
  padding: 19px 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: var(--primary);
  opacity: 0.5;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}

.btn span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.btn:hover {
  color: white;
}

.btn:hover:before {
  width: 100%;
  background: var(--primary);
  opacity: 1;
}

.btn:active {
  transform: scale(0.96);
}
